.popup__submit-button_disabled {
	pointer-events: none;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__submit-button_disabled:hover {
	background-color: transparent;
	cursor: auto;
}
