.element__like-button {
	background-image: url("../../../images/heart__disabled.svg");
	margin: 0;
	width: 22px;
	height: 19px;
	padding: 0;
	align-self: center;
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
	background-size: 22px 19px;
	transition: opacity 0.5s ease-in-out;
}

.element__like-button:hover {
	opacity: 0.5;
	cursor: pointer;
}
