.header__close-button {
	all: unset;
	background-image: url("../../../images/close__icon.svg");
	margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	background-size: 24px;

	transition: opacity 0.5s ease-in-out;
	cursor: pointer;
}

.header__close-button:hover {
	opacity: 0.6;
}
