.popup__input {
	all: unset;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-family: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: rgba(0, 0, 0, 1);
	margin: 0;
	padding: 0 0 9px 0;
}
