.profile__add-button {
	width: 150px;
	height: 50px;
	background-color: transparent;
	border: 2px solid #ffffff;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../../../images/plus__disabled.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px 22px;
	margin: 0;
	padding: 0;
	transition: opacity 0.5s ease-in-out;
	border-radius: 2px;
}

.profile__add-button:hover {
	opacity: 0.6;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	.profile__add-button {
		width: 100%;
		background-size: 16px 16px;
		margin-top: 33px;
	}
}
