.auth__input {
	all: unset;
	width: 100%;
	border-bottom: 2px solid #cccccc;
	font-family: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: white;
	margin: 0;
	padding: 0 0 9px 0;
	cursor: pointer;
}
